.icon-tab {
    margin-top: 30px;

    text-align : center;
    cursor: pointer;
}

.icon-tab span.fas{
    display : block;
    font-size: 35px;

    color: #8d98b8;

    margin:  0px auto;
    line-height: 65px;

    transition-duration: 0.25s;
}

.icon-tab span.mdi{
    display : block;
    font-size: 35px;

    color: #8d98b8;

    margin:  0px auto;
    line-height: 65px;

    transition-duration: 0.25s;
}

.icon-tab span.fas::before {
    padding: 2px 6.5px;
    border-radius: 80%;
}
.icon-tab span.mdi::before {
    padding: 2px 6.5px;
    border-radius: 80%;
}


.icon-tab.active span.fas {
    color: white;
    margin-bottom: 10px;
}

.icon-tab.active span.fas::before {
    padding: 15px 19.5px;
    border-radius: 100%;

    transition-duration: 0.4s;
}

.icon-tab.active span.fas::before {
    background: linear-gradient(to bottom right, #24C6DC, #514A9D);
}

.icon-tab.active span.mdi{
    color: white;
    margin-bottom: 10px;
}

.icon-tab.active span.mdi::before {
    padding: 15px 19.5px;
    border-radius: 100%;

    transition-duration: 0.4s;
}

.icon-tab.active span.mdi::before {
    background: linear-gradient(to bottom right, #24C6DC, #514A9D);
}


.icon-label {
    color:  #b3b3b3;
    font-size: 16px;

    transition-duration: 0.35s;
}


.icon-tab.active .icon-label, .icon-tab:hover .icon-label {
    color: black;
}

.icon-tab:hover span.fas{
    margin-bottom: 10px;
}


.icon-tab:hover span.mdi{
    margin-bottom: 10px;
}

.item {
    margin-top: 50px;
}


@media (max-width:767px) {
    .icon-tab {

    }

    .icon-tab span {
        display: inline !important;
        vertical-align : middle;
    }

    .icon-tab.active span.fas {
        padding-right: 10px;
    }

    .icon-tab:hover span.fas {
        padding-right: 10px;
        transition-duration: 0.25s;
    }

    .icon-tab.active span.mdi {
        padding-right: 10px;
    }

    .icon-tab:hover span.mdi {
        padding-right: 10px;
        transition-duration: 0.25s;
    }
}
